h1, h2 {
    font-family: 'Yuji Mai';
}

.container {
    background-color: rgba(255, 255, 255, 0.103);
}

.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}

.polaroid {
    background: #ffffff;
    display: inline-block;
    margin: 10px;
    padding: 5px 5px 30px;
    text-align: center;
    z-index: 0;
    position: relative;
}

.polaroid a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
}
  
.polaroid img {
    display: block;
    width: 250px;
}